.mainWindow {
    position: relative;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 10px;
}
.chatWindow {
    border: 1px solid #1a73e8;
    border-bottom: none;
    height: 65vh;
    overflow-y: scroll;
}
.mainWindow_header {
    background-color: #1a73e8;
    letter-spacing: 3px;
    color: ghostwhite;
    padding: 5px 0 6px 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainWindow_title {
    font-size: 27px;
}
.mainWindow_interlocutor {
    font-size: 13px;
    padding-right: 10px;
}