.profile {
    width: 45%;
    border: 1px solid #1a73e8;

    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;

}
.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.username {
    color: #1a73e8;
    text-align: center;
    font-size: 1rem;
    margin: 7px 0;
}
.logout {
    width: 50px;
    height: 22px;
    font-size: 12px;
    margin-left: 10px;
    background-color: firebrick;
    color: ghostwhite;
    border: none;
    cursor: pointer;
}
.avatar {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}