* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.App {
    margin: 80px auto 0;
    border-radius: 20px;
    padding: 10px;

    display: flex;
}