.passwordInput {
    border: 1px solid #1a73e8;
    background-color: ghostwhite;
    color: #1a73e8;
    width: 220px;
    height: 30px;

    border-radius: 7px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.passwordInput::placeholder {
    color: #1a73e8;
}